# Training of Model

## Import libraries

In [1]:
import pandas as pd

## Load data

In [2]:
trainD = pd.read_csv('Data/train.csv', parse_dates=['date'])
testD = pd.read_csv('Data/test.csv', parse_dates=['date'])
isHoliday = pd.read_csv('Data/holidays_events.csv', parse_dates=['date'])

In [3]:
trainD.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000888 entries, 0 to 3000887
Data columns (total 6 columns):
 #   Column       Dtype
---  ------       -----
 0   id           int64
 1   date         datetime64[ns]
 2   store_nbr    int64
 3   family       object
 4   sales        float64
 5   onpromotion  int64
dtypes: datetime64[ns](1), float64(1), int64(3), object(1)
memory usage: 137.4+ MB

In [4]:
isHoliday.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350 entries, 0 to 349
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         350 non-null    datetime64[ns]
 1   type         350 non-null    object
 2   locale       350 non-null    object
 3   locale_name  350 non-null    object
 4   description  350 non-null    object
 5   transferred  350 non-null    bool
dtypes: bool(1), datetime64[ns](1), object(4)
memory usage: 14.1+ KB

## Filters Earthquake dates

In [5]:
trainDWOEarthQuake = trainD[(trainD['date'] < '2016-04-16') | (trainD['date'] >= '2016-07-16')]

## Adds Holiday column - Dropped as is not taken into account in the training

In [6]:
#Drops the rows related to holidays that were transferred
isHoliday = isHoliday.drop(isHoliday[isHoliday.transferred == True].index)

In [7]:
#New column which assigns 1 if the date is holiday or 0 if is not.
#trainDWOEarthQuake = trainDWOEarthQuake.assign(is_holiday=0)

#Makes a list with the ordered dates in holidays
#isHoliday = isHoliday.sort_values('date',ascending=True)
#holiday_dates = isHoliday['date'].to_list()

#i = 0

#for index, row in trainDWOEarthQuake.iterrows():
#    if row['date'].strftime('%Y-%m-%d') > holiday_dates[i].strftime('%Y-%m-%d'):
#        i+=1
#    if row['date'].strftime('%Y-%m-%d') == holiday_dates[i].strftime('%Y-%m-%d') and i < len(holiday_dates):
#        trainDWOEarthQuake['is_holiday'].loc[index]=1

## Adds store "type" column

In [7]:
stores = pd.read_csv('Data/stores.csv')
stores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54 entries, 0 to 53
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   store_nbr  54 non-null     int64
 1   city       54 non-null     object
 2   state      54 non-null     object
 3   type       54 non-null     object
 4   cluster    54 non-null     int64
dtypes: int64(2), object(3)
memory usage: 2.2+ KB

In [14]:
trainDWOEarthQuake['type']=trainDWOEarthQuake['store_nbr'].map(stores.set_index('store_nbr')['type'].to_dict())

C:\Users\an2fe\AppData\Local\Temp/ipykernel_8488/870488949.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trainDWOEarthQuake['type']=trainDWOEarthQuake['store_nbr'].map(stores.set_index('store_nbr')['type'].to_dict())

## Adds store "city" column

In [13]:
trainDWOEarthQuake['city']=trainDWOEarthQuake['store_nbr'].map(stores.set_index('store_nbr')['city'].to_dict())

C:\Users\an2fe\AppData\Local\Temp/ipykernel_8488/2213477499.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trainDWOEarthQuake['city']=trainDWOEarthQuake['store_nbr'].map(stores.set_index('store_nbr')['city'].to_dict())

,id,date,store_nbr,family,sales,onpromotion,cluster,city
0,0,2013-01-01,1,AUTOMOTIVE,0.0,0,13,Quito
1,1,2013-01-01,1,BABY CARE,0.0,0,13,Quito
2,2,2013-01-01,1,BEAUTY,0.0,0,13,Quito
3,3,2013-01-01,1,BEVERAGES,0.0,0,13,Quito
4,4,2013-01-01,1,BOOKS,0.0,0,13,Quito
...,...,...,...,...,...,...,...,...
95,95,2013-01-01,11,PREPARED FOODS,0.0,0,6,Cayambe
96,96,2013-01-01,11,PRODUCE,0.0,0,6,Cayambe
97,97,2013-01-01,11,SCHOOL AND OFFICE SUPPLIES,0.0,0,6,Cayambe
98,98,2013-01-01,11,SEAFOOD,0.0,0,6,Cayambe
99,99,2013-01-01,12,AUTOMOTIVE,0.0,0,15,Latacunga

## Adds "cluster"

In [11]:
trainDWOEarthQuake['cluster']=trainDWOEarthQuake['store_nbr'].map(stores.set_index('store_nbr')['cluster'].to_dict())

C:\Users\an2fe\AppData\Local\Temp/ipykernel_8488/3985277920.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trainDWOEarthQuake['cluster']=trainDWOEarthQuake['store_nbr'].map(stores.set_index('store_nbr')['cluster'].to_dict())

,id,date,store_nbr,family,sales,onpromotion,cluster
0,0,2013-01-01,1,AUTOMOTIVE,0.0,0,13
1,1,2013-01-01,1,BABY CARE,0.0,0,13
2,2,2013-01-01,1,BEAUTY,0.0,0,13
3,3,2013-01-01,1,BEVERAGES,0.0,0,13
4,4,2013-01-01,1,BOOKS,0.0,0,13
...,...,...,...,...,...,...,...
95,95,2013-01-01,11,PREPARED FOODS,0.0,0,6
96,96,2013-01-01,11,PRODUCE,0.0,0,6
97,97,2013-01-01,11,SCHOOL AND OFFICE SUPPLIES,0.0,0,6
98,98,2013-01-01,11,SEAFOOD,0.0,0,6
99,99,2013-01-01,12,AUTOMOTIVE,0.0,0,15

## Adds "oil"

In [16]:
oil = pd.read_csv('Data/oil.csv',parse_dates=['date'])
oil = oil.fillna(method='ffill')
oil = oil.fillna(method='bfill')
oil.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1218 entries, 0 to 1217
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        1218 non-null   datetime64[ns]
 1   dcoilwtico  1218 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 19.2 KB

In [18]:
trainDWOEarthQuake['oil']=trainDWOEarthQuake['date'].map(oil.set_index('date')['dcoilwtico'].to_dict())        
trainDWOEarthQuake = trainDWOEarthQuake.fillna(method='ffill')

False

In [20]:
trainDWOEarthQuake.info()
print(trainDWOEarthQuake.isnull().sum())
trainDWOEarthQuake.tail(10)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2838726 entries, 0 to 3000887
Data columns (total 10 columns):
 #   Column       Dtype
---  ------       -----
 0   id           int64
 1   date         datetime64[ns]
 2   store_nbr    int64
 3   family       object
 4   sales        float64
 5   onpromotion  int64
 6   cluster      int64
 7   city         object
 8   type         object
 9   oil          float64
dtypes: datetime64[ns](1), float64(2), int64(4), object(3)
memory usage: 238.2+ MB
id             0
date           0
store_nbr      0
family         0
sales          0
onpromotion    0
cluster        0
city           0
type           0
oil            0
dtype: int64

,id,date,store_nbr,family,sales,onpromotion,cluster,city,type,oil
3000878,3000878,2017-08-15,9,MAGAZINES,11.000,0,6,Quito,B,47.57
3000879,3000879,2017-08-15,9,MEATS,449.228,0,6,Quito,B,47.57
3000880,3000880,2017-08-15,9,PERSONAL CARE,522.000,11,6,Quito,B,47.57
3000881,3000881,2017-08-15,9,PET SUPPLIES,6.000,0,6,Quito,B,47.57
3000882,3000882,2017-08-15,9,PLAYERS AND ELECTRONICS,6.000,0,6,Quito,B,47.57
3000883,3000883,2017-08-15,9,POULTRY,438.133,0,6,Quito,B,47.57
3000884,3000884,2017-08-15,9,PREPARED FOODS,154.553,1,6,Quito,B,47.57
3000885,3000885,2017-08-15,9,PRODUCE,2419.729,148,6,Quito,B,47.57
3000886,3000886,2017-08-15,9,SCHOOL AND OFFICE SUPPLIES,121.000,8,6,Quito,B,47.57
3000887,3000887,2017-08-15,9,SEAFOOD,16.000,0,6,Quito,B,47.57

In [21]:
trainDWOEarthQuake.to_csv('train_sliced.csv')

## Encoding

In [22]:
#Categorical encoding for variables with categories

#family
Xaux = trainDWOEarthQuake['family'].astype('category').cat.codes
trainDWOEarthQuake['family'] = Xaux

#type
Xaux = trainDWOEarthQuake['type'].astype('category').cat.codes
trainDWOEarthQuake['type'] = Xaux

#city
Xaux = trainDWOEarthQuake['city'].astype('category').cat.codes
trainDWOEarthQuake['city'] = Xaux

In [23]:
#New column day of year type int.  (Month-1)*31 + day
#trainDWOEarthQuake['month']=trainDWOEarthQuake.apply(lambda row: (int(row['date'].strftime('%m'))-1)*31 + int(row['date'].strftime('%d')),axis=1)

## Final training (X) and result (y) data

In [28]:
y = trainDWOEarthQuake['sales']

X = trainDWOEarthQuake.drop(['id','date','sales'],axis=1)
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2838726 entries, 0 to 3000887
Data columns (total 7 columns):
 #   Column       Dtype
---  ------       -----
 0   store_nbr    int64
 1   family       int8
 2   onpromotion  int64
 3   cluster      int64
 4   city         int8
 5   type         int8
 6   oil          float64
dtypes: float64(1), int64(3), int8(3)
memory usage: 116.4 MB

## Training model

In [29]:
# Min max normalization.  
#from sklearn.preprocessing import MinMaxScaler
#sc = MinMaxScaler()
#X = sc.fit_transform(X)


#Split estratificado 80-20 entre datos de entreanmiento y de testeo
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [ ]:
#MLP Regressor
#from sklearn.neural_network import MLPRegressor
#regr = MLPRegressor(random_state=1, max_iter=2000, learning_rate = 'adaptive',activation='logistic').fit(X_train, y_train)

#Gradient boosting regressor
from sklearn.ensemble import GradientBoostingRegressor
regr = GradientBoostingRegressor(n_estimators=100, learning_rate=0.2, 
                                 random_state=0,loss='squared_error').fit(X_train, y_train)

In [ ]:
#Test
from sklearn.metrics import mean_squared_log_error
#regr.score(X_test, y_test)
y_pred = regr.predict(X_test)
print(y_test,y_pred)

for i in range(0,len(y_pred)):
    if y_pred[i] < 0:
        y_pred[i]=0

print(mean_squared_log_error(y_test,y_pred))
print(regr.feature_importances_)

## Results
- GradientBoostingRegressor(n_estimators=100, learning_rate=0.1, max_depth=1,                            random_state=0,loss='squared_error')  - 11.481437551723506
- GradientBoostingRegressor(n_estimators=500, learning_rate=0.1, max_depth=1,random_state=0,loss='squared_error') - Negative values
- GradientBoostingRegressor(n_estimators=100, learning_rate=0.2, max_depth=1,random_state=0,loss='squared_error') - 10.742646071889427
- GradientBoostingRegressor(n_estimators=100, learning_rate=0.2, max_depth=1,                            random_state=0,loss='squared_error').fit(X_train, y_train) -  10.513907932848417.  store_nbr, family, and discount  
- store_nbr, family, and discount. Negative values are taken as zero. GradientBoostingRegressor(n_estimators=100, learning_rate=0.2,random_state=0,loss='squared_error') - 4.851900010933088
- store_nbr, family, and discount. Negative values are taken as zero. GradientBoostingRegressor(n_estimators=100, learning_rate=1.0,random_state=0,loss='squared_error') - 5.314085562035126
- store_nbr, family, and discount. Negative values are taken as zero. GradientBoostingRegressor(n_estimators=100, learning_rate=0.5, random_state=0,loss='squared_error') - 5.035771953379746
- store_nbr, family, and discount. Negative values are taken as zero. GradientBoostingRegressor(n_estimators=500, learning_rate=0.2, random_state=0,loss='squared_error') - 4.970273218735189
- store_nbr, family, discount, and is_holiday. Negative values are taken as zero. GradientBoostingRegressor(n_estimators=100, learning_rate=0.2, random_state=0,loss='squared_error') - 4.970273218735189
- store_nbr, family, discount, and type. Negative values are taken as zero. GradientBoostingRegressor(n_estimators=100, learning_rate=0.2, random_state=0,loss='squared_error') - 4.641656860905568
- store_nbr, family, discount, type, city, cluster. Negative values are taken as zero. GradientBoostingRegressor(n_estimators=100, learning_rate=0.2, random_state=0,loss='squared_error') - 4.979573595403314