# Training of Model

## Import libraries

In [1]:
import pandas as pd

## Load data

In [2]:
trainD = pd.read_csv('Data/train.csv', parse_dates=['date'])
testD = pd.read_csv('Data/test.csv', parse_dates=['date'])
isHoliday = pd.read_csv('Data/holidays_events.csv', parse_dates=['date'])

In [3]:
trainD.head()

   id       date  store_nbr      family  sales  onpromotion
0   0 2013-01-01          1  AUTOMOTIVE    0.0            0
1   1 2013-01-01          1   BABY CARE    0.0            0
2   2 2013-01-01          1      BEAUTY    0.0            0
3   3 2013-01-01          1   BEVERAGES    0.0            0
4   4 2013-01-01          1       BOOKS    0.0            0

## Filters Earthquake dates

In [4]:
trainDWOEarthQuake = trainD[(trainD['date'] < '2016-04-16') | (trainD['date'] >= '2016-07-16')]

## Adds Holiday column

In [5]:
isHoliday = isHoliday.drop(isHoliday[isHoliday.transferred == True].index)
isHoliday.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 338 entries, 0 to 349
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         338 non-null    datetime64[ns]
 1   type         338 non-null    object
 2   locale       338 non-null    object
 3   locale_name  338 non-null    object
 4   description  338 non-null    object
 5   transferred  338 non-null    bool
dtypes: bool(1), datetime64[ns](1), object(4)
memory usage: 16.2+ KB

In [ ]:
trainDWOEarthQuake = trainDWOEarthQuake.assign(is_holiday=False)
trainDWOEarthQuake.loc[trainDWOEarthQuake.apply(lambda x: x.date in isHoliday['date'].to_list(), axis=1), 'is_holiday'] = True

In [7]:
trainDWOEarthQuake.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2838726 entries, 0 to 3000887
Data columns (total 7 columns):
 #   Column       Dtype
---  ------       -----
 0   id           int64
 1   date         datetime64[ns]
 2   store_nbr    int64
 3   family       object
 4   sales        float64
 5   onpromotion  int64
 6   is_holiday   bool
dtypes: bool(1), datetime64[ns](1), float64(1), int64(3), object(1)
memory usage: 154.3+ MB

In [8]:
testD = testD.assign(is_holiday=False)
testD.loc[testD.apply(lambda x: x.date in isHoliday['date'].to_list(), axis=1), 'is_holiday'] = True
testD.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28512 entries, 0 to 28511
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           28512 non-null  int64
 1   date         28512 non-null  datetime64[ns]
 2   store_nbr    28512 non-null  int64
 3   family       28512 non-null  object
 4   onpromotion  28512 non-null  int64
 5   is_holiday   28512 non-null  bool
dtypes: bool(1), datetime64[ns](1), int64(3), object(1)
memory usage: 1.1+ MB